.body {
  height: 900px;
  background-color: #f0f0f0; /* Light Grey background */
}

.top {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #222; /* Dark Grey background */
}

.headline {
  position: absolute;
  left: 100px;
  color: #007bff; /* Blue */
  font-size: 40px;
  font-family: Cambria;
  font-weight: bold;
  -webkit-transform: rotateY(-40deg);
          transform: rotateY(-40deg);
}

.themes {
  position: absolute;
  top: 50px;
  left: 1350px;
  font-size: 14px;
  color: #ffffff; /* White text */
  background-color: #333; /* Darker Grey background */
  padding: 10px 15px;
  border-radius: 20px;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.main-container {
  background-image: url(../images/main-container-background.jpg);
  height: 800px;
  width: 99%;
  position: absolute;
  top: 110px;
}

.main-title {
  text-align: center;
  margin-top: 150px;
  font-size: 75px;
  font-family: Bookman Old Style;
  color: #007bff; /* Blue */
}

.explanation {
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  font-family: Bookman Old Style;
  color: #333; /* Dark Grey */
}

.app-position {
  position: absolute;
  top: 400px;
  left: 15%;
  right: 15%;
}

.disclamier {
  position: absolute;
  top: 800px;
  font-style: italic;
  color: #333; /* Dark Grey */
}

.parts-of-speech {
  position: absolute;
  top: 800px;
  left: 27%;
  width: 50%;
  border-collapse: collapse;
}

.cool-button {
  background-color: #007bff; /* Blue */
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.cool-input {
  font-size: 20px;
  color: #007bff; /* Blue */
  background-color: white;
  border: 2px solid #007bff; /* Blue border */
  border-radius: 50px;
  padding: 10px 20px;
  -webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  width: 800px;
  height: 35px;
}

.cool-output {
  position: absolute;
  top: 500px;
  left: 15%;
  right: 15%;
  font-size: 26px;
  font-family: Bookman Old Style;
  background-color: #333; /* Dark Grey */
  border-radius: 50px;
  padding: 10px 20px;
  color: #f0f0f0; /* Light Grey */
}

.cool-select {
  font-size: 12px;
  color: #ffffff; /* White text */
  background-color: #333; /* Dark Grey */
  border: 0px;
}

.cool-option2 {
  background-color: #333; /* Dark Grey */
  color: #f0f0f0; /* Light Grey */
}

.cool-option1 {
  background-color: #fff; /* White */
  color: #333; /* Dark Grey */
}

.table-cell {
  padding: 12px 15px;
  border: 1px solid #000000; /* Black border */
  text-align: center;
}

#verb {
  background-color: #FF00FF; /* Pink */
}

#noun {
  background-color: #FF7F50; /* Orange */
}

#adverb {
  background-color: #00FFFF; /* Cyan */
}

#numeral {
  background-color: #00FF00; /* Green */
}

#pronoun {
  background-color: #DB7093; /* Pink */
}

#preposition {
  background-color: #8A2BE2; /* Purple */
}

#conjunction {
  background-color: #FFEB3B; /* Yellow */
}

#fraction {
  background-color: #32CD32; /* Green */
}

#adjective {
  background-color: rgb(52, 52, 222); /* Dark blue */
}

#not-specified {
  background-color: #CCCCCC; /* Light Grey */
}

.dark-mode {
  background-color: #000000; /* Black */
}

.verb {
  color: #FF00FF; /* Pink */
}

.noun {
  color: #FF7F50; /* Orange */
}

.adverb {
  color: #00FFFF; /* Cyan */
}

.numerator {
  color: #00FF00; /* Green */
}

.pronoun {
  color: #DB7093; /* Pink */
}

.preposition {
  color: #8A2BE2; /* Purple */
}

.conjunctive {
  color: #FFEB3B; /* Yellow */
}

.particle {
  color: #32CD32; /* Green */
}

.adjective {
  color: blue;
}

.undefined {
  color: #CCCCCC; /* Light Grey */
}


.drop-zone {
  border: 2px dashed #ccc; /* Light Grey dashed border */
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  color: #333; /* Dark Grey */
  transition: background-color 0.3s ease, border-color 0.3s ease;
  height: 70px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  background-color: #fff; /* White */
  cursor: pointer;
  position: absolute;
  left: 82%;
  top: 47%;
  font-family: Bookman Old Style;
}

